.grid {
  padding: 20px;

  &__sort {
    display: block;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    background: transparent;
    border: 1px solid #ccc;
    color: #555;

    option {
      padding: 10px 0;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    box-sizing: border-box;
  }
}